<!DOCTYPE html>
<html lang="en">
<head>

    <div class="navbar">
<div class="container">
  <h1>Iodah</h1>
    <h2>Welcome to Iodah!</h2>
  <p><h3> The true or false trivia game for school. Please pick one of the listed subjects below to begin!</h3></p>
</div>
    <link rel="stylesheet" href="../static/style.css" media="screen" title="'no title" charset="utf-8" />
    <meta charset="UTF-8">
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        h2 {text-align: center;}


}
    </style>
</head>
<body>
<style>
    body{
        background-color:#669999;
    }
</style>
<style>
    body{
        color:#e0ebeb
    }
</style>

<br>
<div class="game-options-container">
<a href="/math">
    <button style="display:block; margin: 0 auto;"> Math</button>
</a>
<a href="/science">
<button style="display:block; margin: 0 auto;"> Science</button>
</a>
<a href="/social_studies">
<button style="display:block; margin: 0 auto;">History</button>
</a>
<a href="/reading">
   <button style="display:block; margin: 0 auto;">Reading</button>
</a>
<h3><p>This website is to help transferring 5th graders adjust to middle school by giving a little extra help to those who are struggling or those that just want some extra work! </p></h3>
</div>
</body>
</html>