<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css" media="screen" title="'no title" charset="utf-8" />
    <meta charset="UTF-8">
    <title>Iodah</title>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}


}
    </style>
</head>
<body>
<style>
    body{
        background-color:#669999;
    }
</style>
<style>
    body{
        color:#e0ebeb
    }
</style>
<h1>Iodah</h1>
<h3><p>Welcome to Iodah! The true or false trivia game for school. Please pick one of the listed subjects below to begin!</p></h3></h3>
<br>
<a href="/math">
    <button style="display:block; margin: 0 auto;"> Math</button>
</a>
<a href="/science">
<button style="display:block; margin: 0 auto;"> Science</button>
</a>
<a href="/social_studies">
<button style="display:block; margin: 0 auto;">History</button>
</a>
<a href="/reading">
   <button style="display:block; margin: 0 auto;">Reading</button>
</a>
</body>
</html>